[submodule "I2C-proxy-RP2040-RP2350"]
	path = I2C-proxy-RP2040-RP2350
	url = git@github.com:RapportTecnologia/I2C-proxy-RP2040-RP2350.git
[submodule "VL53L0X-RP2040-RP2350"]
	path = VL53L0X-RP2040-RP2350
	url = https://github.com/RapportTecnologia/VL53L0X-RP2040-RP2350.git
[submodule "OLED_SSD1306-RP2040-RP2350"]
	path = OLED_SSD1306-RP2040-RP2350
	url = https://github.com/RapportTecnologia/OLED_SSD1306-RP2040-RP2350.git
[submodule "MPU6050-RP2040-RP2350"]
	path = MPU6050-RP2040-RP2350
	url = https://github.com/RapportTecnologia/MPU6050-RP2040-RP2350.git
[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "RP-Pico-Mock"]
	path = RP-Pico-Mock
	url = https://github.com/RapportTecnologia/RP-Pico-Mock.git
[submodule "HDMI-RP2040-RP2350"]
	path = HDMI-RP2040-RP2350
	url = https://github.com/RapportTecnologia/HDMI-RP2040-RP2350.git
[submodule "BH1750-RP2040-RP3050"]
	path = BH1750-RP2040-RP3050
	url = https://github.com/RapportTecnologia/BH1750-RP2040-RP3050.git
[submodule "no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/RapportTecnologia/no-OS-FatFS-SD-SPI-RPi-Pico.git
