[submodule "I2C"]
	path = I2C
	url = https://github.com/carlosdelfino/I2C_proxy_RP2040_RP2350.git
[submodule "VL53L0X-RP2040-RP2350"]
	path = VL53L0X-RP2040-RP2350
	url = https://github.com/RapportTecnologia/VL53L0X-RP2040-RP2350.git
[submodule "OLED_SSD1306-RP2040-RP2350"]
	path = OLED_SSD1306-RP2040-RP2350
	url = https://github.com/RapportTecnologia/OLED_SSD1306-RP2040-RP2350.git
[submodule "MPU6050-RP2040-RP2350"]
	path = MPU6050-RP2040-RP2350
	url = https://github.com/RapportTecnologia/MPU6050-RP2040-RP2350.git
